<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Social Network</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
            }
            html,
            body {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body class="bg-slate-50 pt-20">
        {% include 'header.html' %} {% include 'sidebar.html' %}

        <div class="w-full text-center">
            <div class="w-full max-w-4xl inline-block py-4">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
</html>
